.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
vendor/
composer.lock
gitpush.sh
pkg/
bin/
cbuild
**/.DS_Store
.test/
main
core-tools
output/
manifest/output/
temp/
logs/
public/uploads/
gf
lock.json
*.sum
go.work
data/logs
other
node_modules/
*.zip
.DS_Store
.env

# 忽略 addons 目录下的所有内容
addons/*
